@CHARSET "utf8";
body{
	background:#CDCDCD;
}
.row:{
	padding:2px;
}
.std-col3{
	border-top:1px solid #252525;
	border-right:1px solid #252525;
	border-left:1px solid #DEDEDE;
	border-bottom:1px solid #DEDEDE;
	border-radius:12px;
	box-shadow:3px 3px 6px #050505;
	padding:3px;
}
.indx-thmb{
	width:150px;
	height:100%;
}
.row-10pad{
	padding:10px;
}
/*******************************************************************************
+------------------------------------------------------------------------------+
|##############################################################################|
|----------               SVG FORMATTING CODES                       ----------|
|##############################################################################|
+------------------------------------------------------------------------------+
*/
.line{
	fill:none;
	stroke:steelblue;
	stroke-width:2px;
}
svg{
	margin:8px;
	border:2px #EFEFFF dotted;
	border-radius:15px;
	box-shadow:3px 3px 6px #565656;
}

